.categorias {
    display: flex;
    flex-direction: column;
    min-width: 240px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
}

.categorias button {
    background-color: #FFC0CB;
    margin-top: 7px;
}

.imgP {
    max-width: 100%;
    height: 250px;
}

.card {
    min-width: 345px;
    /* o el tamaño deseado */
    width: 100%;
    /* Mantiene el ancho al 100% */
}

.carousel-control-custom {
    color: #FF1493;
}

.carousel-control-custom:hover {
    color: #FF69B4;
}