.categorias {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 255px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    padding: 10px; 
}

.mb-3 p {
    font-size: 15px;
}

.botones-categorias {
    display: flex;
    flex-wrap: wrap; 
}

.categoria-button {
    background-color: #FFC0CB;
    margin: 5px; 
}

.imgP {
    max-width: 100%;
    height: auto; 
}

.producto-card {
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: solid #ff8196 1px;
    width: 100%; 
}

.carousel-control-custom {
    color: #FF1493;
}

.carousel-control-custom:hover {
    color: #FF69B4;
}
